@model Jello.Models.UserModel

@{
    ViewBag.Title = "Log in";
}

<hr/>

<div class="loginmain">
    <div class="login-form">
        <h1>Member Login</h1>
        <div class="loginhead">
            <img class="img1" alt="" />
        </div>
        @if (!ViewContext.ViewData.ModelState.IsValid && ViewContext.ViewData.ModelState["Error"] != null)
        {
            <h4> @String.Join(",", ViewContext.ViewData.ModelState["Error"].Errors.Select(x => x.ErrorMessage).ToList())</h4>
        }

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
                <form>
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class="text", @placeholder="EMAIL"})
                    
                    @Html.ValidationMessageFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class="text", @placeholder = "PASSWORD" })
                    

                    <div class="submit">
                        <input type="submit" onclick="myFunction()" value="LOGIN">
                    </div>
                    <p><a> @Html.ActionLink("Register", "Register", "User")</a></p>
                    <p><a href="#">Forgot Password ?</a></p>
                </form>
        }
    </div>
</div>
