@model Jello.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<hr/>
    <div class="loginmain">
        <div class="login-form">
            <h1>Member Registration</h1>
            <div class="loginhead">
                <img class="img1" alt="" />
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                    <form>
                        @Html.ValidationMessageFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "text", @placeholder = "USER NAME" })
                        
                        @Html.ValidationMessageFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "text", @placeholder = "EMAIL" })
                        
                        @Html.ValidationMessageFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "text", @placeholder = "FIRST NAME" })
                        
                        @Html.ValidationMessageFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "text", @placeholder = "LAST NAME" })
                        
                        @Html.ValidationMessageFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "text", @placeholder = "PASSWORD" })
                        
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text", @placeholder = "CONFIRM PASSWORD" })
                        
                        <div class="submit">
                            <input type="submit" class="btn btn-block" value="Register" />
                        </div>
                    </form>
                }
        </div>
    </div>


    @*<fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" class="btn btn-block" value="Register" />
    </fieldset>*@

