@using Jello.Models

@{var user = (User)Session["User"];}

@if (user != null)
{
    <li>Hello, <a href="javascript:void(0)">@Html.ActionLink(user.FName + " " + user.LName, "Index", "Board", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!</a></li>
    <li>
        @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>
} else {
    <li><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
    <li><a>@Html.ActionLink("Register", "Register", "User")</a></li>
    <li><a>@Html.ActionLink("Log in", "Login", "User")</a></li>
}
