@model IEnumerable<Jello.Models.List>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript">
    function confirm_delete() {
        return confirm('Are you sure?');
    }
    //function allowDrop(ev) {
    //    ev.preventDefault();
    //}

    //function drag(ev) {
    //    ev.dataTransfer.setData("text", ev.target.id);
    //}

    //function drop(ev) {
    //    ev.preventDefault();
    //    var data = ev.dataTransfer.getData("text");
    //    ev.target.appendChild(document.getElementById(data));
    //}
    $(function () {
        $(".cardWrap").sortable({
            connectWith: "div.cardWrap",
            receive: function (event, ui) {
                finalListID = $(this).closest("div.cardWrap").attr('listID');
                cardID = ui.item.attr('cardID');
                UpdateListID(finalListID, cardID);
            }
        })
    });
    function UpdateListID(finalListID, cardID) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateListID", "Card")',
            data: JSON.stringify({ "finalListID": finalListID, "cardID": cardID }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                alert("here" + data.d.toString());
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Server Error. Please try again!");
            }
        })
    }

</script>

@{
    ViewBag.Title = "List";
}
<hr/>

<div class="listWrap">
    <br />
    <div class="btn btn-default">@Html.ActionLink("Members", "ViewMembers", "Board", new { boardid = Request["BoardID"] }, null)</div>
    <hr />

    <div class="listContent">
        @foreach(var item in Model)
        {
            <div class="list">
                <a class="close" , onclick="return confirm_delete()" href='@Url.Action("ArchiveList", "List", new { boardID = @item.BoardID, listID = item.ListID })'>x</a>
                <div class="listTitle">                  
                    <p>@item.Title</p>
                </div>
                <div class="cardWrap" id="sortable" listid="@item.ListID">
                    @foreach (var card in item.CardList)
                    {
                        <div class="cardTitle" id="@card.CardID" cardid="@card.CardID">
                            <p>@card.Description</p>
                        </div>
                    }
                </div>
                <div class="addCardLink">
                    <a>@Html.ActionLink("Add Card", "CreateCard", "Card", new { listid = @item.ListID, boardID = @item.BoardID }, null)</a>
                </div>   
            </div>
        }
    </div>
    <div class="createList">
        <a href='@Url.Action("CreateList", "List")'>
            <p>+</p>
        </a>
    </div>

    <div style="clear:both;"></div>
</div>

<div style="width: 1200px;
    margin: 10px auto;">
    <a href='@Url.Action("Index", "Board")'>Back To Board</a>
</div>



@*<table>
    <tr>
        <td>
            <button class="btn btn-group btn-block" data-toggle="modal" data-target="#myModal">
                Create List
            </button>
            @{
                var newList = new Jello.Models.CreateListModel();
                newList.BoardID = Convert.ToInt32(Request["boardID"]);
                int a = newList.BoardID;
                Session["BoardID"] = a;
            }
            @Html.Partial("CreateList", newList)
        </td>
    </tr>
</table>
@{
    int i = 0;
}
@foreach (var item in Model)
{
    <table style="float:left" class="col-md-2">
        <tr class="btn-info">
            <th>
                @item.Title
            </th>
            <td style="float:right">
                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Add Card", "CreateCard", "Card", new { listid = @item.ListID, boardID = @item.BoardID }, null)</li>
                            <li>@Html.ActionLink("Archive List", "ArchiveList", "List", new { boardID = @item.BoardID, listID = item.ListID }, new { onclick = "return confirm('Are you sure to archive this list');" })</li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <ul id="@item.ListID" class="dropIsTrue" listid="@item.ListID">
                    &nbsp;
                    @foreach (var card in item.CardList)
                    {
                        <li class="project-grid-item" data-toggle="modal" data-target="#@card.CardID" style="width: 150px" cardid="@card.CardID">
                            @card.Description
                            @if (@card.WorkerName != null)
                            { <hr /> }
                            <span style="color:rgb(158, 98, 98); float:right;"> @card.WorkerName </span>  <br />
                        </li>
                        @Html.Partial("~/Views/Card/_EditCard.cshtml", card)
                    }
                </ul>
            </td>
        </tr>
    </table>
                    i++;
                    if (i % 4 == 0)
                    {
                        <br /><div style="clear:both;"></div>
                    }

}

<div style="clear:both;"></div>*@



<br/>
