@model Jello.Models.CreateBoardModel

@{
    ViewBag.Title = "CreateBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>

<div class="loginmain">
    <div class="login-form">
        <h1>Create Board</h1>
        <div class="creatBoardHead">
            <img class="imgBoard" alt="" style="width:150px"/>
        </div>
        @if (!ViewContext.ViewData.ModelState.IsValid && ViewContext.ViewData.ModelState["Error"] != null)
        {
            <h4> @String.Join(",", ViewContext.ViewData.ModelState["Error"].Errors.Select(x => x.ErrorMessage).ToList())</h4>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                <form>
                    @Html.ValidationMessageFor(model => model.Title)
                    @Html.TextBoxFor(model => model.Title, new { @placeholder = "TITLE" })
                
                    @Html.ValidationMessageFor(model => model.Description)
                    @Html.TextBoxFor(model => model.Description, new { @placeholder = "DESCRIPTION" })

                
                    @Html.EditorFor(model => model.IsPublic) Public

                    <div class="submit">
                        <input type="submit" value="Create">
                    </div>
                </form>
        }
    </div>
</div>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin:0 auto;">
        <div style="">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Public</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsPublic)
                    @Html.ValidationMessageFor(model => model.IsPublic)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
